@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root{
    --color-neutral-800 : black; 
    --color-neutral-100 : white;
}


 @theme{
    --color-dark-bg : oklch(0.21 0.034 264.665);
    --color-dark-border : oklch(0.278 0.033 256.848);
    --color-dark-text : oklch(0.707 0.022 261.325);
}